.nav button:hover {
  background-color: #ff8c42;
}

.tab button:hover {
  text-emphasis-color: rgb(231, 231, 10);
}
.Tab button:hover {
  color: "black" !important;
}
.Tab:hover {
  color: "red";
  text-decoration: "underline";
}
