.about {
  width: 100%;
  font-size: large;
  color: red;
}

.h1 {
  font-size: 30px;
  right: 100px;
  padding-top: 6%;
}

.p {
  width: 80%;
  font-size: 25px;
}

.p2 {
  float: left;
  width: 80%;
  font-size: 25px;
  margin-right: 5%;
  padding-left: 5%;
}

.p3 {
  float: right;
  width: 80%;
  font-size: 25px;
  padding-right: 15%;
}

.p4 {
  width: 80%;
  font-size: 25px;
  padding-left: 5%;
}

.imageSize {
  float: left;
  max-width: 50%;
  max-height: 40%;
  margin-right: 5%;
  padding-top: 5%;
  padding-left: 5%;
}

.imageSize2 {
  float: right;
  max-width: 100%;
  max-height: 100%;
  padding-right: 25%;
}

.imageSize3 {
  float: left;
  max-width: 30%;
  max-height: 20%;
  margin-right: 5%;
  padding-left: 5%;
}

.imageSize4 {
  float: right;
  width: auto;
  max-width: 80%;
  max-height: 80%;
  margin-right: 5%;
  padding-bottom: 5%;
  padding-right: 25%;
}
.flex {
  display: flex;
  height: 40%;
  gap: 10;
}
