.homePage {
  width: 100%;
  font-size: large;
  color: red;
}
.footer{
  padding-top: 200px
}
.menuButton{
  position: absolute;
  z-index: 10;
  left: 10% ;
  top: 480px;
  background-color: #FF8C42 ;
  width: 7%;
  height: 5%;
}

.menuButton:hover{
  transform: scale(1.2);
  transition: .5s ease;
  background-color: #FF8C42;
}

.orderButton{
  position: absolute;
  z-index: 10;
  left: 25%;
  top: 480px;
  background-color: #FF8C42 ;
  size: large;
  width: 7%;
  height: 5%;
  animation-name: orderButton;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;

}

.orderButton:hover{
  transform: scale(1.2);
  transition: 0.5s ease;
  background-color: #FF8C42;
}


.body{
  display: flex;
  flex-direction: column;
}
