.galleryPage {
  width: 100%;
  font-size: large;
  color: white;
}

.mainDiv {
  background-color: white;
}

.imageGalleryDescription {
  background: rgba(255, 255, 255, 0.3);
  bottom: 10%;
  color: black;
  line-height: 1;
  padding: 20px 0px;
  position: absolute;
  white-space: normal;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.renderItemDiv {
  display: flex;
}

.galleryImage {
  border-radius: 20%;
}
