.galleryPage {
  width: 100%;
  font-size: large;
  color: white;
}

.mainDiv {
  background-color: black;
}

.imageGalleryDescription {
  background: rgba(0, 0, 0, 0.5);
  bottom: 10%;
  color: #fff;
  line-height: 1;
  padding: 20px 0px;
  position: absolute;
  white-space: normal;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.renderItemDiv {
  display: flex;
}
