.image {
  max-width: 100%;
  max-height: 500px;
  border-radius: 20px;
  vertical-align: middle;
  flex-basis: | auto;
}

.imageContainer {
  margin: 0% 5%;
  padding: 2% 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-basis: | auto;
}

.description {
  margin: 1%;
  font-family: helvetica;
  font-weight: bold;
  font-size: 20px;
}

.slideContainer {
  margin-top: auto;
  margin-bottom: auto;
  padding: 5% 5%;
}

.slideWrapper {
  margin: 0% 15%;
  padding: 5% 5%;
}
