/** @format */

.footer {
  display: flex;
  position: relative;
}
.footerLeft {
  display: flex;
  justify-content: flex-start !important;
}

#Right {
  display: flex;
  justify-content: flex-end !important;
}
